.hide {
    display: none;
}

.infoActivity .off button[type='button'] {
    background-color: rgba(0,0,0,0.45);
}

.infoActivity .customHorizontal .ant-form-item-row {
    flex-direction: column;
}

.infoActivity .customHorizontal .ant-form-item-label {
    overflow: unset;
    text-align: start;
}

.infoActivity .customHorizontal .ant-form-item-control {
    min-width: 100%;
}

.infoActivity .customHorizontal.customDetailAddress .ant-form-item-label >label::before {
    content: '*';
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
}

.infoActivity .customHorizontal.customAddress .ant-form-item-label >label::before {
    content: '';
}

.infoActivity .customHorizontal.customAddress .ant-form-item-label >label::after {
    content: '';
}

.taskForm .notHasAccount button[type='button'] {
    background-color: rgba(0,0,0,0.45);
}